@use "../../styles/variables.scss" as *;

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100px;
  color: $light;

  .header-refinery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .header-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    h1 {
      font-size: 1.5rem;
      font-weight: 700;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  .header-links {
    width: 100%;
  }
}
